<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-jtm-webviewer"
        version="1.0.0">
      <name>JTM WebViewer</name>
      <description></description>
      <license>MIT</license>
      <keywords></keywords>
      <repo>https://github.com/aligorkem/jtm-webviewer.git</repo>
      <issue>https://github.com/aligorkem/jtm-webviewer/issues</issue>

      <!-- android -->
      <platform name="android">
            <js-module src="www/plugin.js" name="plugin">
                  <runs/>
                  <!-- This is the window variable name you want, like window.JTMWebViewer -->
                  <clobbers target="cordova.plugins.JTMWebViewer"/>
            </js-module>
            <config-file target="res/xml/config.xml" parent="/*">
                  <feature name="JTMWebViewer">
                        <param name="android-package" value="au.com.dcfm.JTMWebViewer"/>
                        <param name="onload" value="true"/>
                  </feature>
            </config-file>

            <source-file src="src/android/au/com/dcfm/JTMWebViewer.java" target-dir="src/au/com/dcfm/"/>
            <source-file src="src/android/au/com/dcfm/JsInterface.java" target-dir="src/au/com/dcfm/"/>
      </platform>

      <!-- ios -->
      <platform name="ios">
            <js-module src="www/plugin.js" name="plugin">
                  <runs/>
                  <clobbers target="cordova.plugins.JTMWebViewer"/>
            </js-module>
            <config-file target="config.xml" parent="/*">
                  <feature name="JTMWebViewer">
                        <param name="ios-package" value="JTMWebViewer" onload="true"/>
                  </feature>
            </config-file>

            <header-file src="src/ios/JTMWebViewer.h"/>
            <source-file src="src/ios/JTMWebViewer.m"/>
      </platform>
</plugin>
